root = true

[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
[*.{java, kt}]
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
continuation_indent_size = 4

# Matches multiple files with brace expansion notation
[*.{xml, html, css}]
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
continuation_indent_size = 4

[*.md]
trim_trailing_whitespace = false


